%h1 ポリアンナメールサービス

%p
  誰かの「よかった」があなたに届きます

%p
  %strong
    Don’t use these services?
  = link_to "Create an account", "/auth/identity/register"
  or
  = link_to "login", "/auth/identity"
  with a password.
